.navbar-expand-lg {

  .container {

    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {

    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .navbar-nav {

    -ms-flex-direction: column;
    flex-direction: column;
  }
}
